*, html {
    margin: 10;
    padding: 10;
}
body {
    background-color: rgb(255, 255, 255);
}
.h1-navbar {
    width: 100%;
    height: 30vh;
}
.h1-head {
    color: var(--Black, #242424);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h1-welcome {
    color: var(--Black, #242424);
    display:flex
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    align-items: center;
}
.welcome-navbar{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.create-container{
    display: flex;
    border-radius: 8px;
    border: 1px solid #BEBEBE; 
    height: 40px;
    /* width: 160vh; */
    justify-content: center;
    align-items: center;
}
.create-navbar{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* align-self: stretch; */
}
.create-content{
    color: #BEBEBE;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    align-items: center;
    justify-content: center;
}
main {
    text-align: center;
    padding: 20px;
}

p {
    font-size: 1.1em;
}